<div class="divFondo">
  @if (!showingRegisterForm) {
    <!-- Formulario de Login -->
    <!-- Los "ngModel" linkea un atributo de un objeto de nuestro TypeScript con los cambios que se hagan en ese objeto -->
    <!-- Y lo ponemos con [] y con () para hacer una conexion bidireccional-->
    <form (submit)="login()" #formulario="ngForm">
      <input type="text" placeholder="Usuario" [(ngModel)]="usuario.usuario" name="userName">
        <div>
          <input type="password" placeholder="Contraseña" [(ngModel)]="usuario.contrasena" name="password">
        </div>
        <button>Iniciar sesión</button>

        <p class="registerText" (click)="toggleForm()">¿No tienes cuenta?, Regristrate aquí.</p>
    </form>

  }@else {
    <!-- Formulario de Registro -->
    <form (submit)="registro()" #formulario2="ngForm">
      <div>
        <input type="text" placeholder="Usuario" required name="usuario" [(ngModel)] = "registerData.username">
      </div>
      <div>
        <input type="email"  required placeholder="Email">
      </div>
      <div>
        <input type="password" minlength="8" placeholder="Contraseña" required  name="password" [(ngModel)] = "registerData.password">
      </div>
      <div>
        <input type="password" minlength="8" placeholder="Confirmar Contraseña" required  name="confirmPassword" [(ngModel)] = "registerData.confirmPassword">
      </div>
      <div>
        <input type="text"  required placeholder="Teléfono">
      </div>
        <button type="reset">Limpiar casillas</button>
        <button type="submit">Registarse</button>
        <p class="registerText" (click)="toggleForm()">¿Ya tienes una cuenta?, Inicia sesión.</p>
    </form>
  }
</div>
