<div class="divFondo">
  @if (!showingRegisterForm) {
  <!-- Formulario de Login -->
  <form (submit)="login()" [formGroup]="formularioLogin">
    <div class="iconoCerrar" (click)="cerrarForm()">
      <span class="material-symbols-rounded">
        close
      </span>
    </div>
    <div>
      <input type="text" placeholder="Usuario" formControlName="usuario" />
    </div>
    <div>
      <input type="password" placeholder="Contraseña" formControlName="contraseña"/>
    </div>
    <button [disabled]="formularioLogin.invalid">Iniciar sesión</button>
    <p class="registerText" (click)="toggleForm()">
      ¿No tienes cuenta?, Regristrate aquí.
    </p>
  </form>

  }@else {
  <!-- Formulario de Registro -->
  <form (submit)="registro()" [formGroup]="formularioRegistro">
    <div class="iconoCerrar" (click)="cerrarForm()">
      <span class="material-symbols-rounded">
        close
      </span>
    </div>
    <div>
      <input type="text" placeholder="Usuario" formControlName="usuario" />
    </div>
    <div>
      <input type="text" placeholder="Nombre" formControlName="nombre" />
    </div>
    <div>
      <input type="text" placeholder="Apellido" formControlName="apellido" />
    </div>
    <div>
      <input type="email" placeholder="Email" formControlName="email" />
    </div>
    <div>
      <input
        type="password"
        placeholder="Contraseña"
        formControlName="contraseña"
      />
    </div>
    <div>
      <input
        type="password"
        placeholder="Confirmar Contraseña"
        formControlName="confirmarContraseña"
      />
    </div>
    <div>
      <input
        type="text"
        required
        placeholder="Teléfono"
        formControlName="telefono"
      />
    </div>
    <button type="reset">Limpiar casillas</button>
    <button [disabled]="formularioRegistro.invalid">Registarse</button>
    <p class="registerText" (click)="toggleForm()">
      ¿Ya tienes una cuenta?, Inicia sesión.
    </p>
  </form>
  }
</div>
